@import '../common/style/var.less';
:host {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
}

.smart-tab__pane {
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--tab-panel-background-color, @tab-panel-background-color);
  color: var(--tab-panel-text-color, @tab-panel-text-color);

  &--active {
    height: auto;
  }

  &--inactive {
    height: 0;
    overflow: visible;
  }
}
