/** Toast */
@a11y-toast-font-size: 18px;
@a11y-toast-font-weight: 600;
@a11y-toast-line-height: 27px;

/** Dialog */
@a11y-dialog-header-font-size: 20px;
@a11y-dialog-header-font-weight: 600;
@a11y-dialog-header-line-height: 30px;

@a11y-dialog-has-title-message-font-size: 18px;
@a11y-dialog-has-title-message-text-color: rgba(0, 0, 0, 0.7);

@a11y-dialog-message-font-size: 18px;
@a11y-dialog-message-line-height: 27px;
@a11y-dialog-message-font-weight: 500;
@a11y-dialog-message-text-color: rgba(0, 0, 0, 0.7);

@a11y-dialog-confirm-font-weight: 500;
@a11y-dialog-input-height: 47px;
@a11y-dialog-input-font-size: 18px;
@a11y-dialog-input-font-weight: 500;
