@import '../common/style/var.less';

.smart-battery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smart-battery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.smart-battery-contain {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-shrink: 0;
  font-size: 0;
  isolation: isolate;
  transform-origin: center center;
}

.smart-battery-contain-vertical {
  flex-direction: column;
}

.smart-battery-contain-horizontal {
  flex-direction: row;
}

.smart-battery-base-bg {
  background-color: var(--battery-body-base-background, @battery-body-base-background);
}

.smart-battery-high-bg {
  background-color: var(--battery-body-high-background, @battery-body-high-background);
}

.smart-battery-middle-bg {
  background-color: var(--battery-body-middle-background, @battery-body-middle-background);
}

.smart-battery-low-bg {
  background-color: var(--battery-body-low-background, @battery-body-low-background);
}

.smart-battery-charging-bg {
  background-color: var(
    --battery-body-charging-background,
    @battery-body-charging-background
  );
}

.smart-battery-overflow-hidden {
  /* 使用 clip-path 代替 overflow: hidden，避免 iOS 上圆角被切割 */
  clip-path: inset(0 round 4px);
  -webkit-clip-path: inset(0 round 4px);
  // overflow: hidden;
  // -webkit-backface-visibility: hidden;
  isolation: isolate;
}

.smart-battery-body {
  position: relative;
  background-color: var(--battery-body-base-background, @battery-body-base-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  flex-shrink: 0;
  transform: translateZ(0);
  border-radius: 4px;
}

.smart-battery-body-horizontal {
  flex-shrink: 0;
  height: 20px;
  width: 40px;
}

.smart-battery-body-vertical {
  order: 2;
  width: 20px;
  height: 40px;
  border-radius: 4px;
}

.smart-battery-dot {
  flex-shrink: 0;
  border-radius: 1px;
}

.smart-battery-dot-horizontal {
  height: 8px;
  width: 3px;
  margin-left: 1px;
  flex-shrink: 0;
}

.smart-battery-dot-vertical {
  width: 8px;
  height: 3px;
  margin-bottom: 1px;
  order: 1;
}

.smart-battery-icon {
  position: relative;
  z-index: 2;
  width: 6px; 
  height: 10px; 
  background-repeat: no-repeat;
  transform: scale(2);
}
.smart-battery-bar {
  position: absolute;
  box-sizing: border-box;
}

.smart-battery-bar-vertical {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%;
}

.smart-battery-bar-horizontal {
  height: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.smart-battery-zero {
  background-color: var(--battery-slash-border-color, @battery-slash-border-color);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}

.smart-battery-zero-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--battery-body-base-background, @battery-body-base-background);
}

.smart-battery-zero-horizontal {
  transform: rotate(-60deg);
  width: 32px;
  height: 8px;
}

.smart-battery-zero-vertical {
  transform: rotate(-60deg);
  width: 8px;
  height: 32px;
}

.smart-battery-zero-inner-horizontal {
  flex-shrink: 0;
  width: 32px;
  height: 3px;

}

.smart-battery-zero-inner-vertical {
  flex-shrink: 0;
  width: 3px;
  height: 32px;
}

.smart-battery-text {
  flex: none;
  font-size: var(--battery-text-font-size, @battery-text-font-size);
  font-weight: var(--battery-text-font-weight, @battery-text-font-weight);
  color: var(--battery-text-color, @battery-text-color);
  padding: var(--battery-text-padding, @battery-text-padding);
}

.smart-battery-text-vertical {
  padding: var(--battery-text-padding-vertical, @battery-text-padding-vertical);
}
