.picker5 {
  position: relative;

  .smart-picker__columns {
    justify-content: center;
  }
  .smart-picker__column {
    flex: 0;
    width: auto;
  }
}

.big-data-tip {
  padding: 8px 16px;
  color: #969799;
  font-size: 12px;
}

.big-data-btn {
  margin: 12px 16px;
  padding: 10px 0;
  color: #1989fa;
  font-size: 14px;
  text-align: center;
  border: 1px solid #1989fa;
  border-radius: 8px;
}
