@import '../common/style/var.less';

.smart-index-bar {
  position: relative;

  &__sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-50%);
    user-select: none;
  }

  &__move-tip {
    position: absolute;
    right: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    line-height: 0;

    &--visible {
      opacity: 1;
    }

    &-inner {
      position: relative;
    }

    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: bold;
      padding: var(--index-bar-move-tip-text-padding, @index-bar-move-tip-text-padding);
      font-size: var(--index-bar-move-tip-text-font-size, @index-bar-move-tip-text-font-size);
      line-height: var(--index-bar-move-tip-text-line-height, @index-bar-move-tip-text-line-height);
      color: var(--index-bar-move-tip-text-color, @index-bar-move-tip-text-color);
    }
  }

  &__index {
    font-weight: 500;
    padding: var(--index-anchor-index-padding, @index-anchor-index-padding);
    font-size: var(--index-bar-index-font-size, @index-bar-index-font-size);
    line-height: var(--index-bar-index-line-height, @index-bar-index-line-height);
  }
}
