@import '../common/style/var.less';
:root {
  .keyboard {
    --keyboard-bg-color: @custom-keyboard-bg-color; // 浅色背景
    --keyboard-text-color: @custom-keyboard-text-color; // 密码文案颜色
    --keyboard-border-color: @custom-keyboard-border-color; //边框背景色
    --keyboard-placeholder-text-color: @custom-keyboard-placeholder-color;
  }

  /* .keyboard {
    --keyboard-bg-color: #f8f8f8; // 浅色背景
    --keyboard-text-color: #333; // 密码文案颜色
    --keyboard-border-color: rgba(0, 0, 0, 0.08); //边框背景色
    --keyboard-placeholder-text-color: rgba(51, 51, 51, 0.16);
  }
  // 暗色主题选择器
  &[theme='dark'] {
    .keyboard {
      --keyboard-bg-color: rgba(255, 255, 255, 0.1); //浅色背景
      --keyboard-text-color: #ffffff; //密码文案颜色
      --keyboard-border-color: rgba(255, 255, 255, 0.08); //边框背景色
      --keyboard-placeholder-text-color: rgba(255, 255, 255, 0.16);
    }
  } */

  text {
    white-space: normal;
  }
}

.keyboard {
  &-container {
    align-items: center;
    background-color: var(--keyboard-bg-color);
    border-color: var(--keyboard-border-color);
    border-radius: 16rpx;
    border-width: 1rpx;
    flex-direction: row;
    height: 80rpx;
    justify-content: space-between;
    padding: 24rpx 0rpx 24rpx 24rpx;
    width: 500rpx;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-style: solid;
  }

  &-button {
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  &-textView {
    display: flex;
    flex: 1;
  }

  &-pwdText {
    // background-color: transparent;
    font-size: 40rpx;
    color: var(--keyboard-placeholder-text-color);
  }

  &-password {
    color: var(--keyboard-text-color);
    letter-spacing: 16rpx;
  }

  &-randomText {
    font-size: 24rpx;
    font-weight: 500;
  }

  &-popup-container {
    // background-color: #f1f1f1;
    background-color: @custom-keyboard-popup-bg-color;
    flex-direction: row;
    height: 464rpx;
    padding: 8rpx;
    width: 100%;
    display: flex;
  }

  &-number-wrap {
    flex: 1;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 570rpx;
  }

  &-operate-wrap {
    background-color: transparent;
    width: 180rpx;
    padding-top: 8rpx;
    padding-right: 4rpx;
  }

  &-number-item {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #fff;
    background-color: @custom-keyboard-popup-item-color;
    border-radius: 8rpx;
    width: 166rpx;
    height: 96rpx;
    margin: 8rpx;
  }

  &-number-text {
    // color: #333;
    color: @custom-keyboard-popup-text-color;
    font-size: 48rpx;
    font-weight: bold;
  }

  &-hidden-image {
    height: 80rpx;
    width: 80rpx;
    background: @custom-keyboard-popup-text-color;
  }

  &-confirm-btn {
    border-radius: 8rpx;
    height: 210rpx;
    width: 168rpx;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #fff;
    background-color: @custom-keyboard-popup-item-color;
  }

  &-confirm-color {
    background-color: @custom-keyboard-popup-confirm-color;
  }

  &-confirm-text {
    color: #fff;
    font-size: 40rpx;
    font-weight: bold;
  }

  &-hover-class {
    background-color: @custom-keyboard-popup-hover-color;
  }
}
